@charset "utf-8";

@import "/client/component/function.scss";


@function mix-background($color, $percent) {
  @return mix($background-color, $color, $percent);
}


$root-size: 16px;

$blue-color: #33C3FF;
$dark-blue-color: #33ABFF;
$orange-color: #FFAB33;
$dark-orange-color: #FF9433;
$black-color: rgba(white, 0.8);
$mute-color: rgba(white, 0.5);

$background-color: shade($blue-color, 80%);
$background: stripe-gradient($background-color, shade($background-color, 1.5%), -45deg, 10rpx);

$inner-shadow-color: rgba($background-color, 0.4);
$input-shadow-color: rgba(black, 0.3);

$white-background-color: rgba(white, 0.1);
$white-border-color: mix-background(white, 40%);
$head-background-color: rgba($blue-color, 0.15);
$head-border-color: mix-background($blue-color, 25%);
$hover-background-color: rgba($orange-color, 0.15);
$hover-border-color: mix-background($orange-color, 25%);

$page-width: 900rpx;
$page-top-margin: 20rpx;
$page-bottom-margin: 60rpx;
$page-horizontal-margin: 25rpx;

$content-horizontal-padding: 25rpx;
$content-smartphone-horizontal-padding: 15rpx;

$blank-margin: 6rpx;

$border-radius: 0rpx;
$small-border-radius: 0rpx;
$tag-border-radius: 0rpx;

$line-height: 1.6;

$european-serif-font-family: "Times New Roman", "Times";
$japanese-serif-font-family: "IPA P明朝", "IPAex明朝", "BIZ UDPMincho", "YuMincho", "Yu Mincho", "ＭＳ Ｐ明朝", "ＭＳ 明朝";
$european-sans-font-family: "Arial";
$japanese-sans-font-family: "IPA Pゴシック", "IPAexゴシック", "BIZ UDPGothic", "YuGothic", "Yu Gothic", "ＭＳ Ｐゴシック", "ＭＳ ゴシック";
$vekos-font-family: "Vekos Web";
$gilit-font-family: "Gilit Web";
$icon-font-family: "Font Awesome 5 Pro", "Font Awesome 5 Free", "Font Awesome 5 Brands", "FontAwesome";


@function background-gradient($color) {
  @return linear-gradient(to right bottom, $color, scale-color($color, $alpha: 10%));
}

@function border-shadow($outer-color, $inner-color: $inner-shadow-color) {
  @return 0rpx 0rpx 0rpx 1rpx $outer-color, 0rpx 0rpx 3rpx 1rpx $inner-color inset;
}

@function input-border-color($border-color) {
  @return mix-background($border-color, 0%);
}

@mixin smartphone {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin pane($background-color: $white-background-color, $border-color: $white-border-color) {
  background: background-gradient($background-color);
  box-shadow: border-shadow($border-color);
}

@mixin icon-font($bold: true) {
  font-family: $icon-font-family;
  font-size: 90%;
  @if $bold {
    font-weight: 900;
  } @else {
    font-weight: 400;
  }
}