@charset "utf-8";

@import "./font.scss";
@import "/client/component/mixin.scss";


html {
  font-size: $root-size;
  @include smartphone {
    font-size: $root-size * 0.7;
  }
}

body {
  margin: 0rpx;
  padding: 0rpx;
  font-family: $european-serif-font-family, $japanese-serif-font-family, serif;
  font-feature-settings: "lnum" 1, "palt" 1, "pkna" 1;
  color: $black-color;
  line-height: 1;
  background: $background;
  background-attachment: fixed;
  overflow-x: auto;
  overflow-y: scroll;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}