@charset "utf-8";

@import "/client/component/mixin.scss";


@font-face {
  font-family: $vekos-font-family;
  src: url("http://ziphil.com/material/font/7.woff") format("woff"), url("http://ziphil.com/material/font/7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: $gilit-font-family;
  src: url("https://ziphil.com/material/font/9.woff") format("woff"), url("https://ziphil.com/material/font/9.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


html {
  font-size: $root-size;
  @media screen and (max-width: 580px) {
    font-size: $root-size * 0.7;
  }
}

body {
  margin: 0px;
  padding: 0px;
  font-family: $european-serif-font-family, $japanese-serif-font-family, serif;
  font-feature-settings: "palt" 1, "pkna" 1;
  line-height: 1;
  background-color: $background-color;
  overflow-x: auto;
  overflow-y: scroll;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}