@charset "utf-8";

@import "/client/component/mixin.scss";


.header {
  margin: 0rpx 0rpx 40rpx 0rpx;
}

.search-form {
  margin: 0rpx 0rpx 40rpx 0rpx;
}

.suggestion-list,
.word-list {
  margin: 0rpx 0rpx 25rpx 0rpx;
}

.pagination {
  margin: 0rpx;
  @include smartphone {
    margin: 0rpx $content-smartphone-horizontal-padding;
  }
}