@charset "utf-8";

@import "/client/component/mixin.scss";


.search-form {
  margin: 40rpx 0rpx 0rpx 0rpx;
}

.word-list {
  margin: 40rpx 0rpx 0rpx 0rpx;
}

.pagination {
  margin: 30rpx 0rpx 0rpx 0rpx;
  @include smartphone {
    margin: 30rpx 15rpx 0rpx 15rpx;
  }
}