@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  display: flex;
  flex-direction: row;
}

.left {
  width: 100%;
  margin: 0rpx 10rpx 0rpx 0rpx;
  text-align: right;
  flex-grow: 1;
}

.right {
  width: 100%;
  margin: 0rpx 0rpx 0rpx 10rpx;
  text-align: left;
  flex-grow: 1;
}

.left .group,
.right .group {
  @include smartphone {
    display: none;
  }
}

.leftmost,
.rightmost {
  white-space: nowrap;
}

.group {
  display: inline-block;
}

.group >* {
  margin: 0rpx 0rpx 0rpx 10rpx;
  &:first-child {
    margin: 0rpx;
  }
}

.button {
  @include pane;
  width: 42rpx;
  padding: 10rpx 0rpx;
  border-radius: $small-border-radius;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  &:hover {
    @include pane($hover-background-color, $hover-border-color);
  }
}

.button.icon {
  @include icon-font;
  width: 36rpx;
  font-size: 100%;
}

.center .button {
  @include pane($head-background-color, $head-border-color);
  &:hover {
    @include pane($head-background-color, $head-border-color);
  }
}