@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  margin: 0rpx;
  padding: 30rpx 30rpx;
  line-height: 1.6;
  background-color: white;
  box-shadow: 0rpx 2rpx 10rpx $shadow-color;
  @include smartphone {
    padding: 30rpx 15rpx;
  }
}

.radio-wrapper {
  margin: 5rpx 0rpx 0rpx 0rpx;
}