@charset "utf-8";

@import "/client/component/mixin.scss";


$head-height: 36rpx;
$small-head-height: 18rpx;
$marker-width: 6rpx;
$example-marker-width: 25rpx;
$relation-marker-width: 15rpx;

.section {
  margin: 0rpx -30rpx 15rpx -30rpx;
  padding: 0rpx 30rpx 15rpx 30rpx;
  border-bottom: 1px $blue-color dashed;
  @include smartphone {
    margin: 0rpx -15rpx 15rpx -15rpx;
    padding: 0rpx 15rpx 15rpx 15rpx;
  }
  &:last-child {
    margin-bottom: 0rpx;
    padding-bottom: 0rpx;
    border-bottom: none;
  }
}

.head {
  height: $head-height;
  margin: 0rpx -40rpx 10rpx -40rpx;
  padding: 0rpx 40rpx 0rpx 40rpx;
  color: white;
  background: linear-gradient(to right, $dark-blue-color, $blue-color);
  box-shadow: 0rpx 1rpx 4rpx rgba($dark-blue-color, 0.3);
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  @include smartphone {
    margin: 0rpx -15rpx 10rpx -15rpx;
    padding: 0rpx 15rpx 0rpx 15rpx;
  }
  &::before {
    top: 100%;
    left: 0rpx;
    border: none;
    border-bottom: solid 10rpx transparent;
    border-right: solid 10rpx shade($dark-blue-color, 20%);
    position: absolute;
    z-index: 1;
    content: "";
    @include smartphone {
      display: none;
    }
  }
  &::after {
    top: 100%;
    right: 0rpx;
    border: none;
    border-bottom: solid 10rpx transparent;
    border-left: solid 10rpx shade($blue-color, 20%);
    position: absolute;
    z-index: 1;
    content: "";
    @include smartphone {
      display: none;
    }
  }
}

.small-head-inner {
  height: $small-head-height;
  margin: 0rpx 0rpx 5rpx -35rpx;
  padding: 0rpx 8rpx 0rpx 35rpx;
  font-size: 80%;
  color: white;
  background: linear-gradient(to right, $dark-blue-color, $blue-color);
  box-shadow: 0rpx 1rpx 4rpx rgba($dark-blue-color, 0.3);
  position: relative;
  display: inline-flex;
  align-items: center;
  @include smartphone {
    margin: 0rpx 0rpx 5rpx -15rpx;
    padding: 0rpx 8rpx 0rpx 15rpx;
  }
  &::before {
    top: 100%;
    left: 0rpx;
    border: none;
    border-bottom: solid 5rpx transparent;
    border-right: solid 5rpx shade($dark-blue-color, 20%);
    position: absolute;
    z-index: 1;
    content: "";
    @include smartphone {
      display: none;
    }
  }
}

.head-left {
  flex-grow: 1;
}

.head-right {
  width: 30rpx;
  text-align: right;
  flex-grow: 0;
}

.head-name {
  font-size: 120%;
}

.head-pronunciation {
  font-size: 80%;
}

.head-date {
  font-size: 80%;
}

.section-item {
  margin: 0rpx;
  margin-bottom: 10rpx;
  &:last-child {
    margin-bottom: 0rpx;
  }
}

.list {
  padding: 0rpx;
  list-style: none;
}

.list-item {
  margin: 0rpx;
  padding: 0rpx;
}

.phrase-text,
.example-text {
  margin: 0rpx;
}

.phrase-expression,
.example-sentence {
  margin-left: $marker-width + $blank-margin;
  &::before {
    @include icon-font;
    width: $marker-width;
    margin-right: $blank-margin;
    margin-left: -$marker-width - $blank-margin;
    color: $blue-color;
    content: "\F0DA";
    display: inline-block;
  }
}

.phrease-divider {
  margin: 0rpx $blank-margin;
  color: $mute-color;
}

.phrase-inner-text {
  margin: 0rpx;
  margin-left: $marker-width + $blank-margin;
}

.example-translation {
  margin: 0rpx;
  margin-left: $example-marker-width + $blank-margin;
  &::before {
    @include icon-font;
    width: $example-marker-width;
    margin-right: $blank-margin;
    margin-left: -$example-marker-width - $blank-margin;
    color: $blue-color;
    text-align: right;
    content: "\F061";
    display: inline-block;
  }
}

.relation {
  margin-left: $relation-marker-width + $blank-margin;
  &::before {
    @include icon-font(false);
    width: $relation-marker-width;
    margin-right: $blank-margin;
    margin-left: -$relation-marker-width - $blank-margin;
    color: $blue-color;
    content: "\F0A4";
    display: inline-block;
    position: relative;
    bottom: -1rpx;
  }
}

.refer {
  color: $mute-color;
}

.relation .link {
  color: darken($blue-color, 20%);
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: darken($blue-color, 10%);
  }
}

.tag {
  min-width: 1em;
  padding: 2rpx 2rpx;
  background-color: tint($blue-color, 70%);
  font-size: 80%;
  text-align: center;
  line-height: 1;
  display: inline-block;
}

.head .tag {
  background-color: white;
  color: $dark-blue-color;
  position: relative;
  bottom: 2rpx;
}

.text {
  line-height: 1.6;
  text-align: justify;
}

.small {
  font-size: 80%;
}

.right-margin {
  margin: 0rpx $blank-margin 0rpx 0rpx;
}

.sans {
  font-family: $european-sans-font-family, $japanese-sans-font-family;
  font-size: 96%;
  line-height: 96%;
}

.italic {
  font-style: italic;
}