@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  margin: 0rpx;
  padding: 30rpx $content-horizontal-padding;
  background-color: white;
  box-shadow: 0rpx 2rpx 10rpx $shadow-color;
  @include smartphone {
    padding: 30rpx $content-smartphone-horizontal-padding;
  }
}

.root >* {
  margin-bottom: 25rpx;
  &:last-child {
    margin-bottom: 0rpx;
  }
}