@charset "utf-8";

@import "/client/component/mixin.scss";


$marker-width: 6rpx;
$example-marker-width: 25rpx;
$relation-marker-width: 15rpx;

.head {
  @include pane($head-background-color, $head-border-color);
  margin: 0rpx;
  padding: 10rpx $content-horizontal-padding 10rpx $content-horizontal-padding;
  color: $blue-color;
  border-radius: $border-radius $border-radius 0rpx 0rpx;
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  z-index: 1;
  @include smartphone {
    margin: 0rpx;
    padding: 10rpx $content-smartphone-horizontal-padding 10rpx $content-smartphone-horizontal-padding;
  }
  &:last-child {
    border-radius: $border-radius;
  }
}

.sections {
  @include pane;
  margin: 1px 0rpx 0rpx 0rpx;
  padding: 15rpx 0rpx 15rpx 0rpx;
  border-radius: 0rpx 0rpx $border-radius $border-radius;
}

.section {
  margin: 15rpx 0rpx 0rpx 0rpx;
  padding: 15rpx $content-horizontal-padding 0rpx $content-horizontal-padding;
  border-top: 1px $white-border-color dashed;
  @include smartphone {
    padding: 15rpx $content-smartphone-horizontal-padding 0rpx $content-smartphone-horizontal-padding;
  }
  &:first-child {
    margin-top: 0rpx;
    padding-top: 0rpx;
    border-top: none;
  }
}

.small-head-inner {
  margin: 0rpx 0rpx 5rpx (0rpx - $content-horizontal-padding);
  padding: 0rpx 5rpx 3rpx $content-horizontal-padding;
  font-size: 80%;
  color: $blue-color;
  border-bottom: 1px $head-border-color solid;
  position: relative;
  display: inline-flex;
  align-items: center;
  @include smartphone {
    margin: 0rpx 0rpx 5rpx (0rpx - $content-smartphone-horizontal-padding);
    padding: 0rpx 5rpx 3rpx $content-smartphone-horizontal-padding;
  }
}

.head-left {
  flex-grow: 1;
}

.head-right {
  width: 30rpx;
  text-align: right;
  flex-grow: 0;
}

.head-name {
  font-size: 125%;
}

.head-pronunciation {
  font-size: 80%;
}

.head-date {
  font-size: 80%;
}

.section-item {
  margin: 0rpx;
  margin-bottom: 10rpx;
  &:last-child {
    margin-bottom: 0rpx;
  }
}

.list {
  padding: 0rpx;
  list-style: none;
}

.list-item {
  margin: 0rpx;
  padding: 0rpx;
}

.phrase-text,
.example-text {
  margin: 0rpx;
}

.phrase-expression,
.example-sentence {
  margin-left: $marker-width + $blank-margin;
  &::before {
    @include icon-font;
    width: $marker-width;
    margin-right: $blank-margin;
    margin-left: -$marker-width - $blank-margin;
    color: $blue-color;
    content: "\F0DA";
    display: inline-block;
  }
}

.phrease-divider {
  margin: 0rpx $blank-margin;
  color: $mute-color;
}

.phrase-inner-text {
  margin: 0rpx;
  margin-left: $marker-width + $blank-margin;
}

.example-translation {
  margin: 0rpx;
  margin-left: $example-marker-width + $blank-margin;
  &::before {
    @include icon-font;
    width: $example-marker-width;
    margin-right: $blank-margin;
    margin-left: -$example-marker-width - $blank-margin;
    color: $blue-color;
    text-align: right;
    content: "\F061";
    display: inline-block;
  }
}

.relation {
  margin-left: $relation-marker-width + $blank-margin;
  &::before {
    @include icon-font(false);
    width: $relation-marker-width;
    margin-right: $blank-margin;
    margin-left: -$relation-marker-width - $blank-margin;
    color: $blue-color;
    content: "\F0A4";
    display: inline-block;
    position: relative;
    bottom: -1rpx;
  }
}

.refer {
  color: $mute-color;
}

.link {
  cursor: pointer;
}

.relation .link {
  color: $orange-color;
  text-decoration: underline;
  &:hover {
    color: tint($orange-color, 30%);
  }
}

.tag {
  min-width: 18rpx;
  padding: 2rpx 3rpx;
  font-size: 80%;
  text-align: center;
  line-height: 1;
  background-color: $white-background-color;
  border: 1px $white-border-color solid;
  border-radius: $tag-border-radius;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  bottom: 1px;
}

.head .tag {
  background-color: $head-background-color;
  border: 1px $head-border-color solid;
  bottom: calc(1rpx + 1px);
}

.text {
  line-height: 1.6;
  text-align: justify;
}

.small {
  font-size: 80%;
}

.right-margin {
  margin: 0rpx $blank-margin 0rpx 0rpx;
}

.sans {
  font-family: $european-sans-font-family, $japanese-sans-font-family;
  font-size: 96%;
  line-height: 96%;
}

.italic {
  font-style: italic;
}