@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  margin: 0rpx;
  padding: 5rpx 15rpx;
  background: $background;
  background-attachment: fixed;
  border: 1px input-border-color($white-border-color) solid;
  box-shadow: 0rpx 2rpx 6rpx $input-shadow-color inset;
  border-radius: $small-border-radius;
  &:hover,
  &:focus-within {
    border: 1px input-border-color($hover-border-color) solid;
  }
}

.input-inner {
  width: 100%;
  margin: 0rpx;
  padding: 0rpx;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  background: none;
  border: none;
  outline: none;
  flex-grow: 1;
}